<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhan.mapper.CipherTextMapper">
    <!--Data()返回时间的日期部分-->
    <delete id = "deleteCipherTextByCreatTime">
        delete from cipher_text
          where DATE(DATE_SUB(NOW(),interval 30 day)) >= DATE(create_time) limit 100
    </delete>
</mapper>